@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');

body {
    height: 100%;
    margin: 0;
}

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

.body {
    margin: 80px 0px;
}

.logotype {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 0 50px;
    width: 500px;
    height: 460px;
}

.highlights {
    margin: 0px 100px 50px 100px;
    height: 100px;
}

.highlights h2 { 
    padding: 20px 0px;
    color: white;
    font-weight: 500;
    margin: 40px 0px;
    border-radius: 100px;
    box-shadow: 5px 8px 5px #a7a7a7c7;
}

.titles {
    font-family: var(--heading-font-family);
    font-size: 1.90em;
    font-weight: 500;
    color: white;
}

.blue-bg h2, .blue-bg p {
    background-color: #0101fafb;
    border: #0101fa 2px solid;
}

.yellow-bg h2 {
    background-color: #fecb02;
    border: #fecb02 1px solid;
}

.sobre p {
    text-align: safe;
    padding: 10px 110px 50px;
    margin: 0 auto;
    font-family: var(--heading-font-family);
    font-size: 1.45em;
    font-weight: 500;
    color: rgb(85, 85, 85);
}

.missãoevisão p {
    font-family: var(--heading-font-family);
    color: whitesmoke;   
    margin: 0 80px auto;
    font-size: 1.45em;
    font-weight: 500;
}

.missão {
    margin: 100px 0px 100px 30px;
    padding: 100px 0px;
    background-image: radial-gradient( circle 550px at 0.4% 8.3%, rgba(37,145,251,0.98) 20%, #0101fa 110%);
    box-shadow: 5px 8px 5px #a7a7a7c7;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.visão {
    margin: 100px 30px 100px 0px;
    padding: 100px 0px;
    background-image: radial-gradient( circle 600px at 110.0% 92.3%, rgba(37,145,251,0.98) 20%, #0101fa 110%);
    box-shadow: 5px 8px 5px #a7a7a7c7;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.valores {
    margin: 200px 0px 100px;
}

.valores h2 {
    font-size: 2.90em;
    margin-bottom: 100px;
    font-weight: 500;
    color: var(--text);
}

.valor p {
    margin: 0 auto;
    font-family: var(--default-font-family);
    font-size: 1.40em;
    color: rgb(85, 85, 85);
}

.active {
    font-family: var(--heading-font-family);
    font-weight: 500;
    font-size: 1.90em;
    line-height: 1.92em;
}

footer p {
    font-size: 24px;
    font-family: var(--heading-font-family);
}

.social {
    display: flex;
    text-align: center;
    justify-content: center;
}

.icon-link {
    font-size: 38px;
    color: var(--primary-color);
}

.icon-link:hover {
    color: var(--secondary-color);
}

@media (max-width: 1190.00px) {

    .logotype  {
        width: 295px;
        height: 155px;
        padding: 20px 10px 0px 10px;
    }

    .highlights {
        margin: 30px 60px 120px; 
        display: flex;
        justify-content: center;
    }

    .highlights h2 {
        margin: 12px 30px;
        padding: 12px 30px ;
    }
    
    .titles {
        font-size: 1.25em;
    }
    
    .sobre p {
        text-align: center;
        padding: 35px;
        font-size: 1.10em;
    }

    .missão h2, .visão h2 {
        letter-spacing: 4px;
        position: relative;
    }

    .missão h2 {
        rotate: 270deg;
        top: 40%;
    }

    .visão h2 {
        rotate: 90deg;
        right: 55px;

    }

    .missão, .visão {
        background-image: radial-gradient( circle 600px at 110.0% 92.3%, rgba(37,145,251,0.98) 20%, #0101fa 110%);
        border-radius: 0%;
        width: 100%;
        padding: 0px;
        margin: 20px 0px;
    }
    
    .missão p, .visão p {
        width: 100%;
        font-size: 1.10em;
        padding: 0px 5px;
        text-align: center; 
        margin: 0px 0px auto;       
    }

    .valores {
        margin-top: 80px;
    }

}