@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

body {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(248, 248, 248);
    padding: 0;
    margin: 0;
}

.navbar ul {
    padding: 0px 150px;
}

.navbar li {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--heading-font-family);
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
}

nav a {
    color: blue;
    text-decoration: none; 
    padding: 0px 50px;
    display: flex;
    justify-content: center;
}

.active {
    font-weight: 500;
}

.titles {
    font-size: 20px;
    font-family: var(--heading-font-family);
    font-weight: 400;
    color: var(--text);
}

.contact-us p {
    font-size: 14px;
    line-height: 15px;
    font-family: var(--default-font-family);
}

.body {
    max-width: 800px;
}

.missao, .valores {
    display: flex;
    justify-content: start; 
}

.benefits ul {
    display: inline;
}

.visao {
    display: flex;
    justify-content: end;
}

.body p {
    color: var(--text);
}

.social {
    display: flex;
    justify-content: center;
}


.icon-link {
    font-size: 24px;
    color: var(--primary-color);
}

.icon-link:hover {
    font-size: 26px;
}