@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');

body {
    max-width: 3000px;
}

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

.body {
    color: var(--text);
    justify-content: center;
    margin: 20px 140px;
}

.logotype{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 0 100px ;
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 30%, rgba(255, 244, 169, 0.65) 68.2%, #fecc02a1 104%);
    border-bottom-width: 10px var(--secondary-color);
    border-bottom-left-radius: 590px;
    border-bottom-right-radius: 590px;

    border-top-left-radius: 520px;
    border-top-right-radius: 520px;
    width: 500px;
    height: 460px;
}

.quem-somos, .missao, .valores {
    font-family: var(--default-font-family);
    margin: 40px 0;
    font-size: 24px;
    font-weight: 400;
}

.quem-somos li {
    list-style-type:circle;
}

.missao p{
    justify-content: start; 
}

.active {
    font-weight: 500;
}

.titles {
    font-size: 32px;
    font-family: var(--heading-font-family);
    font-weight: 500;
    color: var(--text);
}

.contact-us p {
    font-size: 22px;
    line-height: 22px;
    font-family: var(--default-font-family);
}



.benefits ul {
    display: inline;
}

.visao {
    display: flex;
    justify-content: end;
}

footer p {
    font-size: 24px;
    font-family: var(--default-font-family);
}

.social {
    display: flex;
    text-align: center;
    justify-content: center;
}

.icon-link {
    font-size: 35px;
    color: var(--primary-color);
}

.icon-link:hover {
    color: var(--secondary-color);
}

card {
    border: 0px;
}