@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');

body {
    margin: 0 auto;
    max-width: fit-content;
    background: linear-gradient(90deg, white 91.1%, #fecb02 91.1%);
    background-repeat: no-repeat; 
}

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

.home-page {
    padding-top: 100px;
}

.inside-wrapper section {
    margin: 146px 40px;
    background-color: rgb(255, 255, 255);
    border: #fecb02 6px solid;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}

.fabrica {
    margin: 0px;
    width: 800px;
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.intro-text p {
    color: #0101fa;
    font-size: 1.80em;
    font-family: var(--heading-font-family);
    font-weight: 500;
    margin: 80px 0px 0px 80px;
}

.options {
    margin: 100px 80px;
    padding: 0 auto;
}

.options a {
    text-decoration: none; 
    color: #0101fa;
    font-size: 1.15em;
    font-family: var(--heading-font-family); 
    background-color: #0b08d70d;
    border-radius: 25px; 
    margin: 0px 45px;
    padding: 15px 6px;
    display: flex;
    justify-content: space-evenly;
}

.social section {
    margin: 0;
    display: grid;
    border: none;
    padding-top: 20px;
    align-content: start;
}

.social i {
    margin: 10px 0px;
    padding: 16px 16px;
    background-color: #0b08d70d;
    border-radius: 50px;
    text-transform: 0.7s all ease-in-out;
}

.icon-link {
    font-size: 1.90em;
    color: var(--primary-color);
}

.social i:hover, .options a:hover {
    background-color: #fecc0227;
    color: var(--primary-color);
}

@media (max-width: 992px) {

    .inside-wrapper {
        width: 800px;
    }


    .fabrica {
        width: 600px;
    }

    .intro-text p {
        font-size: 1.15em;
    }
}
