@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

.navbar {
    background-color: rgb(252, 252, 252);
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 110px;
    margin: 5px 10px;
}

.navbar li {
    text-transform: 0.7s all ease-in-out;
}

.nav-item a {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-transform: 0.7s all ease-in-out;
    margin: 6px 15px;
    padding: 6px 20px;
}

.navbar li:hover {
    background-color: #fecc0227;
    color: #0101fa;
    border-radius: 100px;
}
.navbar a:hover {
    color: #0101fa;
}

.active a, #active a {
    font-weight: 600;
}


