@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300;1,400&family=Source+Code+Pro:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --heading-font-family: 'Poppins', sans-serif;
    --default-font-family: 'Montserrat', sans-serif;
    --primary-color: #0101fa;
    --secondary-color: #fecb02;
    --third-color: #0b08d7;
    --text: rgb(33, 37, 41);
}

.carousel-inner {
    margin: 100px 40px 40px auto;
    width: 600px;
}

.font-style {
    color: var(--text);
    font-family: var(--default-font-family);
}

.options-style button {
    border-radius: 40px;
    border: 1px solid var(--text);
    padding: 10px 20px;
    text-transform: 0.7s all ease-in-out;
}

.options-style button:hover {
    background-color: #fecc0227;
    border: 1px solid transparent;
    border: 1px solid var(--text);
}

.options-style a:hover {
    background-color: #fecc0227;
}

.collection-list p {
    line-height: 10px;
    font-size: 16px;
    margin: 15px ;
}

.collection-img img {
    width: 250px;
    border-radius: 5px;
}


.search-bar {
    margin: 100px 0px 20px;
}

@media(min-width: 992px) {
    
}
